body { background: #4c15bf; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 42px; display: flex; }
.block-search-0 { color: #6fd69e; font-size: 13px; margin-bottom: 5px; }
.block-logger-1 { color: #f45492; font-size: 17px; margin-bottom: 5px; }
.block-email-2 { color: #f81424; font-size: 17px; margin-bottom: 5px; }
.block-helper-3 { color: #cc60ef; font-size: 14px; margin-bottom: 5px; }
.block-cluster-4 { color: #bdfbdc; font-size: 12px; margin-bottom: 5px; }
.block-auth-5 { color: #ce53f2; font-size: 15px; margin-bottom: 5px; }
.block-filter-6 { color: #63ccf3; font-size: 21px; margin-bottom: 5px; }
.block-sms-7 { color: #b0a490; font-size: 15px; margin-bottom: 5px; }